In [1]:
#Run: shift + Enter
6+5

11

In [1]:
8*3

24

In [3]:
def print_fun():
    print("Geeks","for","Geeks",sep="$",end="$")
print_fun()

Geeks$for$Geeks$

In [13]:
def print1(string, x):
#     string="Geeks"
#     x=5
    print(string * x)
print1('Geeks ',3);

Geeks Geeks Geeks

In [1]:
n=int(input('Enter number:'))
if n%2==0:
    print("n is Even")

Enter number:43

In [2]:
n=int(input('Enter number:'))
print(::-1)

SyntaxError: invalid syntax (<ipython-input-2-9331893322c3>, line 2)

In [3]:
n=str(input('Enter number:'))
print(n[::-1])    #reverse the string

Enter number:234567
765432

In [4]:
#odd or even 
a=int(input('Enter Number '))
if a%2==0:
    print('Number is even')
else:
    print('Number is odd')

Enter Number 34
Number is even

In [5]:
a = int(input("Enter a? "))  
b = int(input("Enter b? "))  
c = int(input("Enter c? "))  
if a>b and a>c:  
    print("a is largest") 
if b>a and b>c:  
    print("b is largest")  
if c>a and c>b:  
    print("c is largest")

Enter a? 32
Enter b? 321
Enter c? 1346
c is largest

In [6]:
age=int(input("Enter your age: "))
if age>=18:
    print('congratulation! you are eligible for voting')
else:
        print('sorry! you are not eligible for voting')

Enter your age: 345
congratulation! you are eligible for voting

In [5]:
#elif
a=int(input('Enter number '))
if a%2==0:
    print('number is divisible by 2')
elif a%3==0:
    print('number is divisible by 3')
elif a%5==0:
    print('number is divisible by 5')
else:
    print('number is nither divisible by 2 and 3 nor 5')

Enter number 2005
number is divisible by 5

In [ ]:
#for loop
#for i in str:

In [9]:
#print number table using range()method
n = int(input("Enter the number "))  
for i in range(1,11):
    print(n, "*", i, "=", n*i)

Enter the number 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
string=str(input("Enter string: "))
for i in string:
    print(i)

In [12]:
s='Abhiraj'
for i in s:            #The for loop actually creates an iterator object and executes  
    print(i)           #the next() method for each loop.

A
b
h
i
r
a
j

In [1]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(11):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [35]:
#using step size
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [38]:
for i in range(3,33,3):#3,33,3
    print(i)

3
6
9
12
15
18
21
24
27
30

In [2]:
for i in range(1,5):
    for j in range(i):
        print(i,end='')
    print()

1
22
333
4444

In [7]:
a=['A','B','C']
f=['1','2','3']
for i in a:
    for j in f:
        print(i,j)

A 1
A 2
A 3
B 1
B 2
B 3
C 1
C 2
C 3

In [9]:
s='abhi'
s1='raj'
print(s+s1)

abhiraj

In [1]:
print(s%'av')

NameError: name 's' is not defined

In [2]:
#functions as default function
def mf():
    print('My name is abhi')
mf()

My name is abhi

In [2]:
def mf(fname):
    print('My name is ' + fname)
mf('Abhi')
mf('Av')

My name is Abhi
My name is Av

In [1]:
def mf(fname,lname):
    print("My name is " + fname + " " + lname)
mf("Abhiraj","Verma")

My name is Abhiraj Verma

In [3]:
def mf(*f):
    print("the youngest kids is " + f[3])
mf("akash","abhi","av","anurag")

the youngest kids is anurag

In [7]:
i=0
s='javatpoint'
while i<len(s):
    print(s[i])
    i+=1

j
a
v
a
t
p
o
i
n
t

In [14]:
#print all letter except 'a' and 't'
i=0
s='javatpoint'
while i<len(s):
    if s[i]=='a' or s[i]=='t':
        i+=1
        continue
    print(s[i])
    i+=1

j
v
p
o
i
n

In [1]:
#print all letter except 'a'and 'j'
i=1
a1='abhiraj'
while i<len(a1):
    if a1[i]=='a' or a1[i]=='j':
        i+=1
        continue
    print(a1[i])
    i+=1

b
h
i
r

In [1]:
b=["cricket",11,200.25,False]

In [2]:
b[-1]

False

In [3]:
type(b[3])

bool

In [4]:
b[-1]

False

In [9]:
a=list(('a',7,True))

In [1]:
s=['cricket',11,'football',11,'badminton',2]

In [2]:
s[0]='Rugby'

In [3]:
s

['Rugby', 11, 'football', 11, 'badminton', 2]

In [4]:
s[2:4]

['football', 11]

In [5]:
s[2:4]=['ludo',4] #replace value

In [6]:
s

['Rugby', 11, 'ludo', 4, 'badminton', 2]

In [7]:
#insert wrt replace
s.insert(2,'Football')

In [8]:
s

['Rugby', 11, 'Football', 'ludo', 4, 'badminton', 2]

In [66]:
#extend() used to append another list to curent
a1=[1,2]

In [67]:
a1.append(4)

In [68]:
a1

[1, 2, 4]

In [51]:
a1

['A', 'B', 'C', [...]]

In [2]:
a=[]

In [3]:
a.append('Abhi')

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
l=[]
a= int(input('value '))
for i in range(a):
    s=int(input(np.array([i])))
plt.plot(s)
plt.show()

In [ ]:
## extend
b=['A','B','C']
a.extend(b)

In [6]:
a

['Abhi', 'A', 'B', 'C']

In [7]:
a.pop() #removing of last item

'C'

In [8]:
a.pop(2)

'B'

In [9]:
a

['Abhi', 'A']

In [10]:
del a[1]

In [11]:
a

['Abhi']

In [12]:
a.clear() #clear the list

In [13]:
a

[]

In [14]:
del a # delete a list

In [43]:
a

NameError: name 'a' is not defined

In [15]:
b

['A', 'B', 'C']

In [16]:
#copy the list
a=b

In [17]:
a

['A', 'B', 'C']

In [18]:
c=input('Enter items: ')

Enter items: M

In [19]:
c

'M'

In [20]:
a.append(c)

In [21]:
a

['A', 'B', 'C', 'M']

In [22]:
z=input('Enter item which you want to remove ')

Enter item which you want to remove M

In [23]:
z

'M'

In [24]:
a.remove(z)

In [25]:
a

['A', 'B', 'C']

In [3]:
#function
def change_string (str):    
    str = str + " Hows you "  
    print("printing string inside function :",str)  
    
string1 = "Hi I am there"    
    
#calling the function    
change_string(string1)    
    
print("printing the string outside function :",string1)

printing string inside function : Hi I am there Hows you
printing the string outside function : Hi I am there

In [4]:
#Sample interest
def sample_in(p,r,t):
    return (p*r*t)/100
# p=float(input('Enter val of p '))
# r=float(input('Enter val of r '))
# t=float(input('Enter val of time '))
print('Value of S.I. ',sample_in(100,2,2))

Value of S.I.  4.0

In [7]:
def me(name,age=20):
    print('My name is ', name, 'age is ', age)
me('Abhiraj')       # if miss anything in calling function as declaration then it will print default val
me('Abhiraj', 21)

My name is  Abhiraj age is  20
My name is  Abhiraj age is  21

In [8]:
#abs() absolute val returns
integer = -20.5
print('absolute val of -20 is ', abs(integer))
# all() function returns true

absolute val of -20 is  20.5

In [16]:
#lambda()is anonymous fun that is defined without a name
x=lambda a:a+10
print(x)
print('sum= ',x(24))

<function <lambda> at 0x0000012C5BA785E0>
sum=  34

In [10]:
#class / object
class myClass:         #class name is not case sensitive
    x=5
p1=myClass()
print(p1.x)

5

In [11]:
class mycals:
    x=0
print(mycals)

<class '__main__.mycals'>

In [1]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age                                 #__init__() function call itself automatically  
                                                   # not need to call by creating an object
  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [54]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
    
  def myfunc(self):
    print("hello my name is " + self.name)
  
    
p1 = Person("jhon", 20)
p1.myfunc()

hello my name is jhon

In [49]:
class av:
  def __init__(self,name,age):
        self.name=name
        self.age=age
p1=av("avbf",20)

print(p1.name)
print(p1.age)

avbf
20

In [ ]:
n=int(input("enter a no."))
while 1:
 i=1
 while i<=10:
  r=i*n
  print(n,"x",i,"=",r)
  i+=1
 choice=int(input("enter 1 for more table and 0 for terminating="))
 if choice==0: 
   break;
 n+=1
 #problem :it shows error or wrong output if we r writing the program by touchin 
 #cornerleft

In [1]:
# LAB
#Task 1: Write a program to demonstrate different built in methods of sets in Python.
#At least 7 built-in methods.
set1={'0', '1', '4', '5', '6', '7', '8', '9'}
set1

{'0', '1', '4', '5', '6', '7', '8', '9'}

In [6]:
# add() method
set1.add('av')
set1

{'0', '1', '4', '5', '6', '7', '8', '9', 'av'}

In [10]:
#pop()
set1.pop()          # indexing is not possible

'4'

In [11]:
set1

{'0', '5', '6', '7', '8', '9', 'av'}

In [12]:
#remove()
set1.remove('7')

In [30]:
set1

{'0', '5', '6', '8', '9', 'av'}

In [31]:
set2={"av", "b", "c"}

In [32]:
#union()
e=set1.union(set2)
e

{'0', '5', '6', '8', '9', 'av', 'b', 'c'}

In [33]:
#update
set3={'dfd','sd','sf'}
e.update(set3)

In [34]:
e

{'0', '5', '6', '8', '9', 'av', 'b', 'c', 'dfd', 'sd', 'sf'}

In [35]:
e.intersection()
e

{'0', '5', '6', '8', '9', 'av', 'b', 'c', 'dfd', 'sd', 'sf'}

In [36]:
for i in e:
    print(i)

9
0
dfd
sd
5
6
c
sf
av
b
8

In [37]:
#clear()
e.clear()

In [38]:
e

set()

In [69]:
#Task 2:  Write a program to demonstrate different built  in methods of dictionary in Python.
tuple1=('j','g',2101,'4.5', 10001)
tuple1

('j', 'g', 2101, '4.5', 10001)

In [45]:
len(tuple1)

5

In [46]:
type(tuple1)

tuple

In [48]:
list=['abc','xr','gdjh']

In [53]:
x=tuple(list)

In [54]:
x

('abc', 'xr', 'gdjh')

In [55]:
f=(x,tuple1)

In [56]:
f

(('abc', 'xr', 'gdjh'), ('j', 'g', 2101, '4.5', 10001))

In [57]:
#slicing possible
tuple1[2]

2101

In [71]:
tuple1

('j', 'g', 2101, '4.5', 10001)

In [81]:
tuple1=x

In [82]:
tuple1

('abc', 'xr', 'gdjh')

In [11]:
# Average of Numbers in a Given List
n=int(input('enter '))
a=[]
for i in range(n):
    e=int(input('value '))
    a.append(e)
    print(a)

enter 4
value 2
[2]
value 4
[2, 4]
value 5
[2, 4, 5]
value 6
[2, 4, 5, 6]

In [12]:
a

[2, 4, 5, 6]

In [13]:
avg=sum(a)/n

In [15]:
avg

4.25

In [19]:
#  Exchange the Values of Two Numbers without using temporery var

a=int(input('enter1 '))
b=int(input('enter2 '))
a = a+b
b= a-b
a =a-b
print(a,b)

enter1 23
enter2 45
45 23

In [1]:
# Read a number n and Compute n+nn+nnn

n=int(input('enter '))
t=str(n)
t1=t+t
t2=t+t+t
t3=n+int(t1)+int(t2)
print(t3)

enter 5
615

In [ ]:
a=int(input('enter: '))
rev=0
while(a>0):
    v=a%10
    rev=rev*10+v           #reverse the num 
    a=a//10
    print(rev)

In [6]:
# to check the number is positiv or negative
n=int(input('enter '))
if n>=0:
    print('n is +ve')
else:
    print('n is -ve')

enter -5
n is -ve

In [9]:
# to take in the marks of 5 subjects and display the grade
sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
avg=(sub1+sub2+sub3+sub4+sub4)/5
print('average value :',avg)
if(avg>=90):
    print("Grade: A")
elif(avg>=80 and avg<90):
    print("Grade: B")
elif(avg>=70 and avg<80):
    print("Grade: C")
elif(avg>=60 and avg<70):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks of the first subject: 34
Enter marks of the second subject: 56
Enter marks of the third subject: 45
Enter marks of the fourth subject: 34
Enter marks of the fifth subject: 78
average value : 40.6
Grade: F

In [15]:
# to print all numbers in a range divisible by a given number.
a=int(input('val1 '))
b=int(input('val2 '))
v=int(input('val3 '))
for i in range(a,b):
    if(i%v==0):
        print(i)

val1 3
val2 45
val3 6
6
12
18
24
30
36
42

In [1]:
# to read two numbers and print their quotient and remainder.
a=int(input('val1 '))
b=int(input('val2 '))
r=a%b
q=a//b
print('Quotient is',q,'Remainder is',r)

val1 43
val2 345
Quotient is 0 Remainder is 43

In [1]:
# to print odd numbers within a given range
a=int(input('val1 '))
a1=int(input('val2 '))
for i in range(a,a1+1):
    if(i%2!=0):
        print(i)

val1 45
val2 67
45
47
49
51
53
55
57
59
61
63
65
67

In [15]:
a=int(input('val '))
t=0
while(a>0):
    v=a%10
    t=t+v
    a=a//10
print(t)

val 4545
18

In [3]:
# to find the smallest divisor of an integer
n=int(input('val '))
a=[]
for i in range(2,n+1):
    if(n%i==0):
        a.append(i)
a.sort()

print('smallest divisor ',a[0])

val 356546
smallest divisor  2

In [2]:
l=[]
a=int(input('val1'))
b=int(input('val2'))
c=int(input('val3'))
l.append(a)
l.append(b)
l.append(c)
print('List ',l)
for i in range(0,3):
    for j in range(0,3):
        for k in range(0,3):
            if(i!=j&j!=k&k!=i):
                print(l[i],l[j],l[k])

val134
val242
val356
List  [34, 42, 56]
34 42 56
34 56 42
42 34 56
42 56 34
56 34 42
56 42 34

In [5]:
n=int(input('val '))   # count the digits in given number
count=0
while(n>0):
    count=count+1
    n=n//10
print(count)

val 5645979
7

In [19]:
# to check if a number is a palindrome
a=int(input('number '))
t=a
r=0
while(a>0):
    v=a%10
    r=r*10+v
    a=a//10
if(t==r):
    print('palindrome')
else:
    print('not valid')

number 4534354
palindrome

In [29]:
#  to read a number n and print and compute the series “1+2+…+n=”.
n=int(input('val '))
a=[]
for i in range(1,n+1):
    print(i,sep=' ',end=' ')
    if(i<n):
        print('+',sep=' ',end=' ')
        a.append(i)
print('=', sum(a))
   
print()

val 6
1 + 2 + 3 + 4 + 5 + 6 = 15

In [3]:
'''Group of strings'''
str=[]
n=int(input('how many string  '))
for i in range(n):
    print('enter string ', end='')
    str.append(input())

how many string  2
enter string avh
enter string so ni

In [9]:
'''searching a position of string in a group of string'''
str=[]
n = int(input('how many string you want '))
for i in range(n):
    print('enter string ',end='')
    str.append(input())
s=input('enter string which you want to search ')
f=False
for i in range(len(str)):
    if str[i]==s:
        print('found at ',i+1)
        f=True
        
    if f==False:
        print('not found')

how many string you want 4
enter string av
enter string av
enter string av
enter string skf
enter string which you want to search av
found at  1
found at  2
found at  3

In [23]:
str=input('enter string ')
i=0
for s in str:
    print(str[i])     # stop string where i want to stop

enter string abhirajverma
a
a
a
a
a
a
a
a
a
a
a
a

In [25]:
'''lenght of string without len() function'''
str=input('enter string: ')
i=0
for S in str:
    print(str[i], end='')
    i+=1
print(i)

enter string: abhi is my name
abhi is my name15

In [34]:
# INSERT A SUB STRING IN A STRING
str=input('enter string :')
sub=input('enter sub string :')
n=int(input('enter no : '))
n-=1
str1=[]
for i in range(n):
    str1.append(str[i])
for i in range(len(sub)):
    str1.append(sub[i])
for i in range(n,len(str)):
    str1.append(str[i])
str1=''.join(str1)          #convert individual char of list to string
print(str1)

enter string :abhi is name
enter sub string :my
enter no : 9
abhi is myname

In [42]:
def fun(str):
    return 'Hai '+str
def fun1():                              
    return 'How are you'
x=fun(fun1())                             #function as parameter in another function
print(x)

Hai How are you

In [1]:
n=int(input('val '))
for i in range(1,n+1):
    print(i,sep=' ',end=' ')
str1=sorted()

val 34
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34

TypeError: sorted expected 1 argument, got 0

In [17]:
def sim_interest(p,r,t):
    return (p*r*t)/100
s=sim_interest(34435,4.5,6)
print('simple interest of p={},r={},t={}'.format(34435,4.5,6),'is :',s)

simple interest of p=34435,r=4.5,t=6 is : 9297.45

In [5]:
def leap_yy():
    yy=int(input('enter y '))
    if(yy%4==0 or yy%100!=0 and yy%400==0):
        print('year {}'.format(yy),'is leap year')
    else:
        print('year {}'.format(yy),'is not leap year')
leap_yy()

enter y 2000
year 2000 is leap year

In [23]:
# to Read a Number n and Print the Natural Numbers Summation Pattern
n=int(input('val '))
a=[]
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,sep=' ',end=' ')
        if(j<i):
            print('+',sep=' ',end=' ')
    a.append(j)
    print('=',sum(a))
print()

val 7
1 = 1
1 + 2 = 3
1 + 2 + 3 = 6
1 + 2 + 3 + 4 = 10
1 + 2 + 3 + 4 + 5 = 15
1 + 2 + 3 + 4 + 5 + 6 = 21
1 + 2 + 3 + 4 + 5 + 6 + 7 = 28

In [45]:
# identity matrix
n=int(input('val '))
for i in range(0,n):
    for j in range(0,n):
        
        if(i==j):
            print('1',sep=' ',end=' ')
        else:
            print('0',sep=' ',end=' ')
    print()

val 7
1 0 0 0 0 0 0
0 1 0 0 0 0 0
0 0 1 0 0 0 0
0 0 0 1 0 0 0
0 0 0 0 1 0 0
0 0 0 0 0 1 0
0 0 0 0 0 0 1

In [25]:
# to print all integers that aren’t divisible by either 2 or 3 and lies between 1 and 50.
for i in range(1,51):
    if(i%2!=0 and i%3!=0):
        print(i)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49

In [59]:
n=int(input('val '))
for i in range(0,n):
    for j in range(0,n):         #same range
        print(i,sep=' ',end=' ')

val 5
0 0 0 0 0 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3 4 4 4 4 4

In [1]:
n=int(input('val '))
for i in range(0,n):
    for j in range(0,i):         # range of previous
        print(i,sep=' ',end=' ')

val 4
1 2 2 3 3 3

In [3]:
a=int(input('v '))
for i in range(1,a):
    for j in range(1,a):
        if(i==j):
            print('1',sep=' ',end=' ')
        else:
            print('0',sep=' ',end=' ')
    print()

v 5
1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1

In [11]:
# input by user in array
import array as ar
a1=(ar.array('i',[]))
n=int(input('enter number: '))
for i in range(n):
    a1.append(int(input('enter ele ')))
for i in range(len(a1)):
    print(a1[i])
print('indexing \n')
for i in range(len(a1)):
    a1.index(a1[i])
    print(a1[i])

enter number: 3
enter ele 67
enter ele 89
enter ele 97
67
89
97
indexing

67
89
97

In [14]:
# Write a Python program to reverse the order of the items in the array
import array as ar
a=ar.array('i',[3,43,32,54])
l=[]
for i in range(len(a)):  #indexing
    a.index(a[i])
print('list after appending')
for i in range(len(a)):
    l.append(a[i])
    print(l[i])
r=l[::-1]
print('reversed list ',r)
a1=ar.array('i',r)
print('reversed array ',r)

list after appending
3
43
32
54
reversed list  [54, 32, 43, 3]
reversed array  [54, 32, 43, 3]

In [25]:
#missing number in between
import array as arr
def test(nums):
    return sum(range(10, 21)) - sum(list(nums))

a = arr.array('i', [10, 11, 12, 13, 14, 16, 17, 18, 19, 20])
print("Original array:")
for i in range(len(a)):    
    print(a[i], end=' ')
print("\nMissing number in the said array (10-20): ",test(a))

Original array:
10 11 12 13 14 16 17 18 19 20
Missing number in the said array (10-20):  15

In [6]:
# to check if a date is valid and print the incremented date if it is.
                                              #NOT WORKING
date=input("Enter the date: ")
d,m,y=date.split('/')
d=int(d)
m=int(m)
y=int(y)
if(m==1 or m==3 or m==5 or m==7 or m==9 or m==11):
    max=31
elif(m==4 or m==6 or m==8 or m==10 or m==12):
    max=30
elif(y%4==0 and y%100!=0 or y%400==0):
    max=29
else:
    max=28
if(m<1 or m>12):
    print('invalid date')
else:
    print()

Enter the date: 30/02/2012

In [38]:
# factorial
def fac(num):
    p=1
    while num>=1:
        p=p*num
        num-=1
    return p
f=fac(5)
print(f)

120

In [2]:
#inheritance
#parent class
class Person(object):       
    def __init__(self,name,idnum):   #constructor
        self.name=name
        self.idnum=idnum
    def display(self):
        print(self.name)
        print(self.idnum)
        print(self.salary)
        print(self.post)
        
class Employee(Person):           #child class
       def __init__(self,name,idnum,salary,post):
            self.salary=salary
            self.post=post
            Person.__init__(self,name,idnum)    #invoking
a=Employee('abhi',17362,3000,'hfi')   
a.display()

abhi
17362
3000
hfi

In [67]:
# multiple inheritance
class Person1():
    def __init__(self):
        self.str1='abhi'
print('person1')
class Person2():
    def __init__(self):
         self.str2='soni'
print('person2')
class Base(Person1,Person2):
    def __init__(self):
        Person1.__init__(self)
        Person2.__init__(self)
        print('base')
def printstr(self):
        print(self.str1,self.str2)
ob.Base()
ob.printstr()

IndentationError: expected an indented block (<ipython-input-67-aa43b430012e>, line 12)

In [1]:
class Base(object):
    def __init__(self,name):
        self.name=name
    def getname(self):
        return self.name
class child(Base):
    def __init__(self,name,age):
        Base.__init__(self,name)
        self.age=age
    def getage(self):
        return self.age
        
class child1(child):
    def __init__(self, name,age,address):
        child.__init__(self,name,age)
        self.address=address
    def getaddress(self):
        return self.address
                
g=child1('soni',20,'nosara')
print(g.getname(),g.getage(),g.getaddress())

soni 20 nosara

In [73]:
'''
single inheritance
multiple inheritance
multilevel inheritance
hierarchical 
hybrid inheritance'''

'\nsingle inheritance\nmultiple inheritance\nmultilevel inheritance\nhierarchical \nhybrid inheritance'

In [77]:
class c():
    def __init__(self):
        self.c=21
        self.__d=42 #private
class d(c):
    def __init__(self):
        self.e=84
        c.__init__(self)
        object1=d()
    print(object1.d)

AttributeError: 'd' object has no attribute 'd'

In [27]:
def ispangram(st):
    import string
    a=set(string.ascii_lowercase)
    return a<=set(st.lower())
s=input('str  ')
if ispangram(s):
    print('yes')
else:
    print('nope')

str  shdk
nope

In [33]:
import string
a=set(string.ascii_lowercase)
print(a)

{'s', 't', 'g', 'h', 'e', 'p', 'i', 'f', 'k', 'a', 'm', 'q', 'c', 'y', 'v', 'j', 'u', 'x', 'n', 'd', 'w', 'z', 'l', 'o', 'r', 'b'}

In [13]:

def bubblesort(a1):
    for i in range(len(a1)-1):
        for j in range(len(a1)-i-1):
            if a1[i]>a1[i+1]:
                a1[i],a1[i+1]=a1[i+1],a1[i]
a1=[2,31,30,3,9,0,1]
bubblesort(a1)
for i in range(len(a1)):
    print(a1[i])

2
30
3
9
0
1
31

In [2]:
#datetime
import datetime
a= datetime.datetime.now()
print(a)

2021-07-22 01:38:15.630920

In [15]:
import datetime
x=datetime.datetime.now()
print(x.year)
print(x.strftime('%A'))

2021
Thursday

In [12]:
#creating date object
import datetime
x=datetime.datetime(2021,7,22)
print(x)
# datetime() class also takes parameters for time and 
# timezone, but they optional

2021-07-22 00:00:00

In [18]:
import datetime
x=datetime.datetime.now()
print(x.strftime('%D'))

07/22/21

In [1]:
#Exception handling  try except
#without try block the program will crash or error
try:
    print(x)  # it should be throw the error
except:        # bcz of x is not defined
    print('an exception occured')

an exception occured

In [3]:
#try block raise a nameerror and another for other 
try:
    print(x)
except NameError:
    print('variable in not defined')
except:
    print('something else went wrong')

variable in not defined

In [4]:
'''else keyword to define a block of code to be executed if no errors were raised''' 
try:
    print('hello')
except:
    print('something went wrong')
else:
    print('nothing went wrong')

hello
nothing went wrong

In [ ]:
#finally block
try:
    print('hello abhi')
except:

In [5]:
import array as arr
l1=[]
l2=[]
a=arr.array('i',[2,3,4,5,6,7,87,8])
for i in range(0, len(a)):
    print(a[i])
b=int(input('enter slit postion '))
split_index=a.index(b)

for i in range(0, split_index):
    l1.append(a[i])

for i in range(split_index+1,len(a)):
    l2.append(a[i])
a1=arr.array('i',l1)
a2=arr.array('i',l2)

print('array1\n')
for i in range(0,len(l1)):
    print(a1[i])
print('array2\n')
for i in range(0,len(l2)):
    print(a2[i])

2
3
4
5
6
7
87
8
enter slit postion 4
array1

2
3
array2

5
6
7
87
8

In [1]:
'''Create a function that can accept two arguments name and age and print its value'''
def fun(name, age):
    print(name, age)
fun('abhi', 20)

abhi 20

In [12]:
'''Write a function func1() such that it can accept a variable length of  argument and print all arguments value'''
def fun1(a,*agr):  
    sum1=0   # gives tupple
    print(a,agr)
    for i in agr:
        sum1=sum1+i
    print(sum1)
fun1(2,4,6,9)
fun1(3,234,10)

2 (4, 6, 9)
19
3 (234, 10)
244

In [15]:
def calculation(a,b):               #output in single call
    return a+b ,a-b
    
r=calculation(45,23)
print(r)

(68, 22)

In [29]:
def showEmployee(Ename, salary=9000):
    return Ename, salary     #print(Ename, salary)
s=showEmployee('soni',4554)  #showEmployee('soni',4554)
print(s)                     # not need

('soni', 4554)

In [32]:
def fun(a, b):
    def addition(a,b):
        return a+b
    a=addition(a,b)
    return a+5
r=fun(12, 5)
print(r)

22

In [35]:
#function call through the new name
def dis(name, age):
    print(name, age)
dis('soni',20)
show=dis                   # call by new name
show('soni',20)

soni 20
soni 20

In [42]:
'''
def maximum(a,b,c):
    return max(a,b,c)
s=maximum(23,34,1)
print(s)'''
def maximum2(a,b):
    if a>b:
        return a
    return b
def max3(a,b,c):
    return maximum2(maximum2(a,b),c)
r=max3(-2,231,42)
print(r)

231

In [5]:
# sum of list
def listsum(n):
    total=0
    for i in n:
        total = total+i
    return total
print(listsum((34,45,3,9,1)))

92

In [13]:
# multiply all the numbers in a list
def multilist(num):
    t=1
    for i in num:
        t=t*i
    return t
print('multiple of list', multilist((2,3,43,6)))

multiple of list 1548

In [ ]:
#reverse the string
def reverse(string):
    st=' '
    index=len(st)
    while(index>0):
        st+=st[index-1]
    return st
print(reverse('1234abcd'))

In [11]:
# TOWER OF HANOI
def towers(n, a, b, c):
    if n==1:
        print('move the disc %i from %s to %s'%(n,a,c))
        
    else:
        towers(n-1, a, b, c)    #c as intermediate
        print('move disc %i from %s to %s'%(n,a,c))
        towers(n-1,b,c,a)        # a as intermediate
towers(int(input('enter numbers of disc: ')),'a','b','c')           # call the fun towers

enter numbers of disc: 3
move the disc 1 from a to c
move disc 2 from a to c
move the disc 1 from b to a
move disc 3 from a to c
move the disc 1 from b to a
move disc 2 from b to a
move the disc 1 from c to b

In [7]:
s=set();
n=int(input('Num of inputs you want '))
for i in range(n):
    a=input()
    s.add(a)
print(s)

Num of inputs you want 3
fsdf
gr
av
{'av', 'gr', 'fsdf'}

In [9]:
'''Task 2:Demonstrate the use of the following functions of Set Data Structure:
i) Operations on Set: difference(), difference_update(), intersection(), intersection_update(), symmetric_difference(), symmetric_difference_update(), isdisjoint(), issuperset(), issubset()
ii) Manipulating Set: discard(), add(), clear(), copy(), pop(), remove()'''

'Task 2:Demonstrate the use of the following functions of Set Data Structure:\ni) Operations on Set: difference(), difference_update(), intersection(), intersection_update(), symmetric_difference(), symmetric_difference_update(), isdisjoint(), issuperset(), issubset()\nii) Manipulating Set: discard(), add(), clear(), copy(), pop(), remove()'

In [71]:
#difference
a={'a', 'f', 'n', 'm'}
b={'f', 'm', 'h'}
z = a.difference(b)
print('difference of a and b ',z)

#difference update
a={'a', 'f', 'n', 'm'}
b={'h','n'}
b.difference_update(a)
print('difference_update a and b ',b)

#intesection
a={'a', 'f', 'n', 'm'}
b={'f', 'm', 'h'}
z = a.intersection(b)
print('intersection of a and b is ',z)

difference of a and b  {'n', 'a'}
difference_update a and b  {'h'}
intersection of a and b is  {'f', 'm'}

In [27]:
#intersection_update
a={'a', 'f', 'n', 'm'}
b={'f', 'm', 'h'}
a.intersection_update(b)
print(a)

{'f', 'm'}

In [29]:
#symmetric_difference()
a={'a', 'f', 'n', 'm'}
b={'f', 'm', 'h'}
z=a.symmetric_difference(b)
print(z)

{'h', 'n', 'a'}

In [31]:
#symmetric_difference_update()
a={'a', 'f', 'n', 'm'}
b={'f', 'm', 'h'}
a.symmetric_difference_update(b)
print(a)

{'h', 'n', 'a'}

In [32]:
#isdisjoint()
a={'a', 'f', 'n', 'm'}
b={'f', 'm', 'h'}
z=a.isdisjoint(b)
print(z)

False

In [34]:
#issuperset()
a={'a', 'f', 'n', 'm'}
b={'f', 'm', 'h'}
z=a.issuperset(b)
print(z)

False

In [58]:
#issubset()
a={'a', 'f', 'n', 'm', 'h'}
b={'f', 'm', 'h'}
print(a.issubset(b))

False

In [59]:
a.discard('f')
print(a)

{'h', 'n', 'm', 'a'}

In [60]:
a.add('abhi')
print(a)

{'h', 'n', 'abhi', 'm', 'a'}

In [61]:
c=a.copy()
print(c)

{'h', 'n', 'abhi', 'm', 'a'}

In [62]:
c.pop()

'h'

In [63]:
print(c)

{'n', 'abhi', 'm', 'a'}

In [64]:
c.pop()

'n'

In [65]:
c.remove('m')

In [66]:
c.clear()

In [67]:
print(c)

set()

In [18]:
ip = "5555..111"
l=ip.split('.')
n=len(l)
if n!=4:
    print('0')
elif n==4:
    for i in range(0,4):
        if l[i]=='':
            print('0')
else:
    for i in range(len(l)):
        if int(l[i])<=255 and int(l[i])>=0:
            print('yes')
            break
        else:
            print('no')
            break

0